#folders
lectures_conversations_articles/
.vscode/
__pycache__/

#files
assignment_screenshot.png
DEEPLEARNINGTUTORIAL.ipynb
full_main_outdated.py
randomtest.py
ntb_ranmdom.ipynb
ntb_ranmdomNonLinear.ipynb
NonProbabModelWithPermutatioonMixture.ipynb
Milestone-MVI-eng.docx